<form #f="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />


  <div class="form-group">
    <input type="text" name="username" class="form-control" required [(ngModel)]="model.name" placeholder="user name" />
  </div>

  <div class="form-group">
    <input type="password" name="password" class="form-control" required [(ngModel)]="model.password" placeholder="password" />
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
